<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="OPSMessages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings>
  <add key="OPS.Messages.1.2.1.1.WSNewPark.WSOPS2NewPark" value="http://95.177.110.177:3381/WSOPS2NEWPARK.asmx"/>
  <add key="OPS.Messages.1.2.1.1.WSObtenerImporteAnulacionSETEX_Castrourdiales.SETEX" value="http://77.226.247.202/SETEX/SETEX_ConsultaExpediente.asmx"/>
  <add key="OPS.Messages.1.2.1.1.WSObtenerImporteAnulacionSETEX_Cordoba.SETEX" value="http://77.226.247.202/SETEX/SETEX_ConsultaExpediente.asmx"/>
  <add key="OPS.Messages.1.2.1.1.WSObtenerImporteAnulacionEYSA_Donostia.Anulaciones" value="http://esdcvyewb00p.eysa.local/parquimetrosws/framework/anulaciones.asmx"/>
  <add key="OPS.Messages.1.2.1.1.WSObtenerImporteAnulacionGiropark.anulaciones" value="http://www.gesblue.com/admin/webservice_anulaciones.php"/>
  <add key="OPS.Messages.1.1.1.2.WSGestionarBonosGiropark.bonos" value="http://www.gesblue.com/admin/webservice_bonos.php"/>
  <add key="OPS.Messages.1.1.1.2.WSGetFineAmountGiropark.ServiceNotify" value="http://83.56.14.153:8090/SOM_WS/ServiceNotify.asmx"/>
  <add key="OPS.Messages.1.2.1.1.WSObtenerImporteAnulacionEYSA_Getxo.Anulaciones" value="https://eysaIPpre.eysanet.com/ParquimetrosWSVS2012PRE/framework/Anulaciones.asmx"/>
  </appSettings>
    <applicationSettings>
        <OPSMessages.Properties.Settings>
            <setting name="OPS_Messages_1_2_1_1_WSGestionarBonosGiropark_bonos" serializeAs="String">
                <value>http://www.gesblue.com/admin/webservice_bonos.php</value>
            </setting>
            <setting name="OPS_Messages_1_2_1_1_WSNewPark_WSOPS2NewPark" serializeAs="String">
                <value>http://95.177.110.177:3381/WSOPS2NEWPARK.asmx</value>
            </setting>
            <setting name="OPS_Messages_1_2_1_1_WSObtenerImporteAnulacionEYSA_Donostia_Anulaciones" serializeAs="String">
                <value>http://esdcvyewb00p.eysa.local/parquimetrosws/framework/anulaciones.asmx</value>
            </setting>
            <setting name="OPS_Messages_1_2_1_1_WSObtenerImporteAnulacionGiropark_anulaciones" serializeAs="String">
                <value>http://www.gesblue.com/admin/webservice_anulaciones.php</value>
            </setting>
            <setting name="OPS_Messages_1_2_1_1_WSObtenerImporteAnulacionSETEX_Castrourdiales_SETEX" serializeAs="String">
                <value>http://77.226.247.202/SETEX/SETEX_ConsultaExpediente.asmx</value>
            </setting>
            <setting name="OPS_Messages_1_2_1_1_WSObtenerImporteAnulacionSETEX_Cordoba_SETEX" serializeAs="String">
                <value>http://77.226.247.202/SETEX/SETEX_ConsultaExpediente.asmx</value>
            </setting>
        </OPSMessages.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
