<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="MoneyOffCouponsCodeLength" value="6"/>
  <add key="MoneyOffCouponsCodeValidChars" value="ABCDEFGHIJKLMPQRSTUVWXYZ123456789"/>
  <add key="MoneyOffCouponsRetriesToObtainUniqueCode" value="20"/>
  <add key="MoneyOffCouponsDefaultNumberOfMinutesGiven" value="60"/>
  <add key="MoneyOffCouponsDefaultNumberOfCentsGiven" value="-1"/>
  
</appSettings>	

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
