<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="LogSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  
  <LogSettings>
    <add key="LogPath" value="C:\inetpub\wwwroot\OPSWebServices11"/>
    <add key="LogFile" value="OPSWebServicesWS.log"/>
  </LogSettings>
  
  <log4net>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogPath}\%property{LogFile}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="ApplicationName" value="OPS WEB SERVICE" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message %newline %exception"  />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="file"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
  </log4net>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <!-- Database ConnectionString -->
    <add key="ConnectionString" value="Data Source=ORCL;User Id=opsbeasain;Password=opsbeasain;"/>
    <!-- Log directory and file name -->
    <add key="ServiceLog" value="c:\\Inetpub\\OPSWebServicesLog\\{0}_OPSWebServicesWS.log"/>
    <!-- DLL Paths needed for M1 libreries -->
    <add key="M1DLLPath" value="C:\Inetpub\OPSServices\Common\WIN32\opscompute"/>
    <!-- Reg path in HKLM\Software\OTS for M1 Calculation params-->
    <add key="M1RegParamsPath" value="OPSCompute"/>
    <!-- Default Article Type-->
    <add key="ArticleType" value="4"/>
    <!-- Mobile/Internet Payment Minimum Balance in cent. Balance must be GREATER than this value to allow ops -->
    <add key="MOBILE_PAY_MINIMUM_BALANCE" value="0"/>
    <!-- Mobile/Internet Payment Notice Balance in cent. If balance is greater than 0 and less or equal to this value 
    a notice is given to user -->
    <add key="MOBILE_PAY_NOTICE_BALANCE" value="200"/>
    <!-->>>INI: BECS config INI-->
    <!-- Periodic sending process period (ms) -->
    <add key="SendPeriod" value="60000"/>
    <!-- CS unit id -->
    <add key="UnitID" value="4"/>
    <!-- Connection string to database 
    <add key = "ConnectionString" value = "Server=ORCL;User Id=OPS;Pwd=OPS;" /> -->
    <!-- Database schema owner -->
    <add key="SchemaOwner" value="OPSZRGZ"/>
    <!-- To FECS communications MSMQ queue -->
    <add key="FecsOutputQueuePath" value="FormatName:DIRECT=OS:.\private$\becsfecs"/>
    <!-- From FECS communications MSMQ queue -->
    <add key="FecsInputQueuePath" value="FormatName:DIRECT=OS:.\private$\fecsbecs"/>
    <!-- To CC communications MSMQ queue -->
    <add key="CcOutputQueuePath" value="FormatName:DIRECT=OS:.\private$\becscc"/>
    <!-- From CC communications MSMQ queue -->
    <add key="CcInputQueuePath" value="FormatName:DIRECT=OS:.\private$\ccbecs"/>
    <!-- "Path" al fichero de configuración de tablas y campos -->
    <add key="UserSchemaPath" value="C:\inetpub\wwwroot\ops\schemas\ops_tables.xml"/>
    <!-- OperationsDef que se usan en los mensajes -->
    <add key="OperationsDef.Parking" value="1"/>
    <add key="OperationsDef.Extension" value="2"/>
    <add key="OperationsDef.Refund" value="3"/>
    <add key="OperationsDef.Payment" value="4"/>
    <!-- BEGIN M01 configuration elements (some of them are used in M50 too) -->
    <!-- Codigos de LISTS.BLIS_CATEGORY -->
    <add key="BLIS_DBLIS_ID.Vehicle" value="1"/>
    <!-- Used in M50 too -->
    <add key="BLIS_DBLIS_ID.User" value="2"/>
    <!-- Used in M50 too -->
    <!-- Codigos devueltos por M01 -->
    <add key="M01.ErrorCodes.SinLimite" value="4"/>
    <add key="M01.ErrorCodes.VIP" value="3"/>
    <add key="M01.ErrorCodes.DateAmp" value="2"/>
    <add key="M01.ErrorCodes.NoError" value="1"/>
    <add key="M01.ErrorCodes.NoValida" value="-1"/>
    <add key="M01.ErrorCodes.NoValidaPorArticulo" value="-2"/>
    <add key="M01.ErrorCodes.BlackVeh" value="-3"/>
    <!-- Used in M50 too -->
    <add key="M01.ErrorCodes.BlackUsu" value="-4"/>
    <!-- Used in M50 too -->
    <add key="M01.ErrorCodes.FueraServicio" value="-5"/>
    <add key="M01.ErrorCodes.FueraVentas" value="-6"/>
    <add key="M01.ErrorCodes.TiempoPermanenciaSuperado" value="-7"/>
    <add key="M01.ErrorCodes.TiempoReentradaNoSuperado" value="-8"/>
    <add key="M01.ErrorCodes.ArtKO" value="-9"/>
    <add key="M01.ErrorCodes.ArtOld" value="-10"/>
    <add key="M01.ErrorCodes.NoReturn" value="-13"/>
    <add key="M05.ErrorCodes.NotFound" value="0"/>
    <add key="M05.ErrorCodes.OK" value="1"/>
    <add key="M05.ErrorCodes.TypeNotPayable" value="-1"/>
    <add key="M05.ErrorCodes.TimeExpired" value="-2"/>
    <!-- ArticleType utilizado por defecto -->
    <add key="ArticleType.Default" value="1001"/>
    <!-- Por defecto ROTACION -->
    <!-- Used in M50 too -->
    <add key="ArticleType.Rotacion" value="1001"/>
    <!-- ROTACION: Unico caso en que Article == null y se puede procesar -->
    <add key="ArticleType.Vip" value="5"/>
    <!-- Used in M50 too -->
    <!-- Codigos de las restricciones -->
    <add key="ConstraintsDef.MaxEstancia" value="1"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.MinReentrada" value="2"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.TiempoCortesia" value="3"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.MaxImport" value="4"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.MinImport" value="5"/>
    <!-- Used in M50 too -->
    <!-- Codigos de la tabla STATUS -->
    <add key="Status.OK" value="0"/>
    <!-- Used in M50 too -->
    <add key="Status.OUT_OF_SERVICE" value="1"/>
    <!-- Used in M50 too -->
    <add key="Status.OUT_OF_SALES" value="2"/>
    <!-- Used in M50 too -->
    <!-- END M01 configuration elements (some of them are used in M50 too) -->
    <!-- BEGIN M04 configuration elements -->
    <add key="FinesDefCodes.Fine" value="1"/>
    <add key="FinesDefCodes.Cancellation" value="2"/>
    <add key="FinesDefCodes.Annulment" value="3"/>
    <add key="FinesDefCodes.Payment" value="4"/>
    <add key="FinesDef.Payment" value="99"/>
    <!-- END M04 configuration elements -->
    <!-- BEGIN M50 configuration elements -->
    <add key="M50.DIASPARAVEHICULOREINCIDENTE" value="365"/>
    <add key="M50.MULTASPARAVEHICULOREINCIDENTE" value="20"/>
    <add key="PayTypesDef.Chipcard" value="1"/>
    <add key="PayTypesDef.CreditCard" value="2"/>
    <add key="PayTypesDef.Cash" value="3"/>
    <add key="PayTypesDef.WebPayment" value="4"/>
    <!-- Only the first 24 chars will be used -->
    <add key="MOBILE_PAYMENT_MACTRIPLEDES_KEY" value="1423423423"/>
    <add key="XML_TAG_NAME" value="opspark"/>
    <add key="TIME_STEPS_OFFSET_IN_MINUTES" value="5"/>
    <add key="MONEY_STEPS_OFFSET_IN_CENTS" value="5"/>
    <!-- END M50 configuration elements -->
    <!--<<<END: BECS config-->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <identity impersonate="false" userName="Enrique Bermejo" password="rocky5gas"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>