<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	  <section name="LogSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <section name="Jot" type="Jot.JotAuthConfigurationSection, Jot" />
    </configSections>

	<LogSettings>
		<add key="LogPath" value="C:\inetpub\OPSWebServicesLog\"/>
		<add key="LogFile" value="OPSWebServices40Log.txt"/>
	</LogSettings>
	
  <appSettings>
	<!-- Contract list -->
    <add key="ContractList" value="0,6,62,72,73"/>
    <!-- Database ConnectionString -->
    <!--<add key="ConnectionString" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.1.45)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=opsmugipark;Password=opsmugipark;"/>
	<add key="ConnectionString6" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.1.45)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=opsbakio;Password=opsbakio;" />
	<add key="ConnectionString62" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.1.45)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=opsbeasain;Password=opsbeasain;" />
	<add key="ConnectionString72" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.1.45)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=opszumarraga;Password=opszumarraga;" />-->
  <add key="ConnectionString" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.73.74)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=opsmugiparktest;Password=opsmugiparktest;"/>  
  <add key="ConnectionString73" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.73.74)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=opssoriatest;Password=opssoriatest;" />    
	<!-- Web service configurations -->
	<add key="OPSWebServices.Messages" value="http://192.168.2.82/OPSWSMessagesArinpark11/Messages.asmx"/>
	<!--<add key="OPSWebServices.Messages62" value="http://192.168.2.82/OPSWSMessagesBeasain11/Messages.asmx"/>
	<add key="OPSWebServices.Messages73" value="http://192.168.2.82/OPSWSMessagesSoria11/Messages.asmx"/>
	<add key="OPSWebServices.Messages10" value="http://192.168.2.82/OPSWSMessagesHondarribia11/Messages.asmx"/>
	<add key="OPSWebServices.Messages5" value="http://192.168.2.82/OPSWSMessagesTolosa11/Messages.asmx"/>
	<add key="OPSWebServices.Messages6" value="http://192.168.2.82/OPSWSMessagesBakio11/Messages.asmx"/>
	<add key="OPSWebServices.Messages3" value="http://192.168.2.82/OPSWSMessagesZarautz11/Messages.asmx"/>-->
    <add key="OPSWebServices.Messages73" value="http://localhost/OPSWebServicesSoria40/Messages.asmx"/>
    <!-- Log directory and file name -->
    <add key="ServiceLog" value="c:\\Inetpub\\OPSWebServicesLog\\{0}_OPSWebServicesWS.log"/>
    <!-- DLL Paths needed for M1 libreries -->
    <!--<add key="M1DLLPath" value="C:\Projects\ops\02_branches\CC\64_bits\VS 2019\OPSWebServices\OPSCompute.NET\OPSCompute\bin\Debug"/>-->
    <add key="M1DLLPath" value="C:\inetpub\OPSServices\Common\WIN64\opscompute"/>
    <!-- Reg path in HKLM\Software\OTS for M1 Calculation params-->
    <add key="M1RegParamsPath" value="Software\\OTS\\OPSComputeMugipark"/>
	<!--<add key="M1RegParamsPath6" value="Software\\OTS\\OPSComputeBakio"/>
	<add key="M1RegParamsPath62" value="Software\\OTS\\OPSComputeBeasain"/>
	<add key="M1RegParamsPath72" value="Software\\OTS\\OPSComputeZumarraga"/>-->
    <add key="M1RegParamsPath73" value="SOFTWARE\OTS\OPSComputeSoria"/>
    <!-- Default Article Type-->
    <add key="ArticleType" value="4"/>
    <!-- Mobile/Internet Payment Minimum Balance in cent. Balance must be GREATER than this value to allow ops -->
    <add key="MOBILE_PAY_MINIMUM_BALANCE" value="0"/>
    <!-- Mobile/Internet Payment Notice Balance in cent. If balance is greater than 0 and less or equal to this value 
    a notice is given to user -->
    <add key="MOBILE_PAY_NOTICE_BALANCE" value="200"/>
    <!-->>>INI: BECS config INI-->
    <!-- Periodic sending process period (ms) -->
    <add key="SendPeriod" value="60000"/>
    <!-- CS unit id -->
    <add key="UnitID" value="4"/>
    <!-- Connection string to database 
    <add key = "ConnectionString" value = "Server=ORCL;User Id=OPS;Pwd=OPS;" /> -->
    <!-- Database schema owner -->
    <add key="SchemaOwner" value="OPSMUGIPARKTEST"/>
    <!-- To FECS communications MSMQ queue -->
    <add key="FecsOutputQueuePath" value="FormatName:DIRECT=OS:.\private$\becsfecs"/>
    <!-- From FECS communications MSMQ queue -->
    <add key="FecsInputQueuePath" value="FormatName:DIRECT=OS:.\private$\fecsbecs"/>
    <!-- To CC communications MSMQ queue -->
    <add key="CcOutputQueuePath" value="FormatName:DIRECT=OS:.\private$\becscc"/>
    <!-- From CC communications MSMQ queue -->
    <add key="CcInputQueuePath" value="FormatName:DIRECT=OS:.\private$\ccbecs"/>
    <!-- "Path" al fichero de configuración de tablas y campos -->
    <add key="UserSchemaPath" value="C:\inetpub\wwwroot\opssoria\schemas\ops_tables.xml"/>
    <!-- OperationsDef que se usan en los mensajes -->
    <add key="OperationsDef.Parking" value="1"/>
    <add key="OperationsDef.Extension" value="2"/>
    <add key="OperationsDef.Refund" value="3"/>
    <add key="OperationsDef.Payment" value="4"/>
	<add key="OperationsDef.Recharge" value="5"/>
    <add key="OperationsDef.Postpayment" value="7"/>
    <add key="OperationsDef.ResidentSticker" value="101"/>
    <add key="OperationsDef.ElectricRecharge" value="102"/>
    <add key="OperationsDef.Bycing" value="103"/>
    <add key="OperationsDef.UnpaidFines" value="104"/>
    <!-- BEGIN M01 configuration elements (some of them are used in M50 too) -->
    <!-- Codigos de LISTS.BLIS_CATEGORY -->
    <add key="BLIS_DBLIS_ID.Vehicle" value="1"/>
    <!-- Used in M50 too -->
    <add key="BLIS_DBLIS_ID.User" value="2"/>
    <!-- Used in M50 too -->
    <!-- Codigos devueltos por M01 -->
    <add key="M01.ErrorCodes.SinLimite" value="4"/>
    <add key="M01.ErrorCodes.VIP" value="3"/>
    <add key="M01.ErrorCodes.DateAmp" value="2"/>
    <add key="M01.ErrorCodes.NoError" value="1"/>
    <add key="M01.ErrorCodes.NoValida" value="-1"/>
    <add key="M01.ErrorCodes.NoValidaPorArticulo" value="-2"/>
    <add key="M01.ErrorCodes.BlackVeh" value="-3"/>
    <!-- Used in M50 too -->
    <add key="M01.ErrorCodes.BlackUsu" value="-4"/>
    <!-- Used in M50 too -->
    <add key="M01.ErrorCodes.FueraServicio" value="-5"/>
    <add key="M01.ErrorCodes.FueraVentas" value="-6"/>
    <add key="M01.ErrorCodes.TiempoPermanenciaSuperado" value="-7"/>
    <add key="M01.ErrorCodes.TiempoReentradaNoSuperado" value="-8"/>
    <add key="M01.ErrorCodes.ArtKO" value="-9"/>
    <add key="M01.ErrorCodes.ArtOld" value="-10"/>
    <add key="M01.ErrorCodes.NoReturn" value="-13"/>
    <add key="M05.ErrorCodes.NotFound" value="0"/>
    <add key="M05.ErrorCodes.OK" value="1"/>
    <add key="M05.ErrorCodes.TypeNotPayable" value="-1"/>
    <add key="M05.ErrorCodes.TimeExpired" value="-2"/>
    <!-- ArticleType utilizado por defecto -->
    <add key="ArticleType.Default" value="4"/>
    <!-- Por defecto ROTACION -->
    <!-- Used in M50 too -->
    <add key="ArticleType.Rotacion" value="4"/>
	<add key="ArticleType.Rotation" value="4"/>
	<add key="ArticleType.Resident" value="5"/>
	<add key="ArticleType.Vip" value="6"/>
	<add key="ArticleType.RotList" value="4"/>
	<add key="ArticleType.ResList" value="5,50"/>
	<add key="ArticleType.VipList" value="6"/>
    <!-- Used in M50 too -->
    <!-- Codigos de las restricciones -->
    <add key="ConstraintsDef.MaxEstancia" value="1"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.MinReentrada" value="2"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.TiempoCortesia" value="3"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.MaxImport" value="4"/>
    <!-- Used in M50 too -->
    <add key="ConstraintsDef.MinImport" value="5"/>
    <!-- Used in M50 too -->
    <!-- Codigos de la tabla STATUS -->
    <add key="Status.OK" value="0"/>
    <!-- Used in M50 too -->
    <add key="Status.OUT_OF_SERVICE" value="1"/>
    <!-- Used in M50 too -->
    <add key="Status.OUT_OF_SALES" value="2"/>
    <!-- Used in M50 too -->
    <!-- END M01 configuration elements (some of them are used in M50 too) -->
    <!-- BEGIN M04 configuration elements -->
    <add key="FinesDefCodes.Fine" value="1"/>
    <add key="FinesDefCodes.Cancellation" value="2"/>
    <add key="FinesDefCodes.Annulment" value="3"/>
    <add key="FinesDefCodes.Payment" value="4"/>
    <add key="FinesDef.Payment" value="99"/>
	<add key="FineStatusAdmonDef.Pending" value="0"/>
    <add key="FineCancellation.Payable" value="1"/>
    <add key="FineCancellation.Expired" value="2"/>
    <add key="FineCancellation.NotPayable" value="3"/>
    <add key="FinesDefCode.Fine" value="1"/>
    <!-- END M04 configuration elements -->
    <!-- BEGIN M50 configuration elements -->
    <add key="M50.DIASPARAVEHICULOREINCIDENTE" value="365"/>
    <add key="M50.MULTASPARAVEHICULOREINCIDENTE" value="20"/>
    <add key="PayTypesDef.Chipcard" value="1"/>
    <add key="PayTypesDef.CreditCard" value="2"/>
    <add key="PayTypesDef.Cash" value="3"/>
    <add key="PayTypesDef.WebPayment" value="4"/>
    <add key="RechargeType.Bonus" value="1"/>
    <add key="SpaceStatus.Free" value="0"/>
    <add key="SpaceStatus.Occupied" value="1"/>
    <!-- Only the first 24 chars will be used -->
    <add key="MOBILE_PAYMENT_MACTRIPLEDES_KEY" value="1423423423"/>
    <add key="XML_TAG_NAME" value="arinpark"/>
    <add key="TIME_STEPS_OFFSET_IN_MINUTES" value="5"/>
    <add key="MONEY_STEPS_OFFSET_IN_CENTS" value="5"/>
    <!-- END M50 configuration elements -->
    <!--<<<END: BECS config-->
    <add key="Groups.ESRO" value="40001"/>
    <add key="Groups.ESRE" value="40002"/>
    <add key="TariffVis.ESRO.NoResident" value="101"/>
    <add key="TariffVis.ESRO.Resident" value="102"/>
    <add key="TariffVis.ESRE.NoResident" value="103"/>
    <add key="TariffVis.ESRE.Resident1Day" value="104"/>
    <add key="TariffVis.ESRE.Resident5Day" value="105"/>
    <add key="TariffVis.ESRE.Resident20Day" value="106"/>
    <add key="GlobalizeCommaGPS" value="1"/>
    <add key="MapArticles" value="1"/>
    <add key="ArticlesMap" value="104,105,106"/>
    <add key="Constraints.MaxEstancia" value="1"/>
    <add key="OperationStatus.Unparked" value="1"/>
    <add key="OperationStatus.Parked" value="2"/>
    <add key="Operation.Online" value="1"/>
    <add key="EnableSpaceBonuses" value="false"/>
    <add key="EnableHash" value="false"/>
    <add key="GlobalizeCommaGPS" value="1"/>
    <!-- Codigos de la tabla MOBILE_USERS -->
    <add key="ActivateAccount.No" value="0"/>
    <add key="ActivateAccount.Yes" value="1"/>
    <add key="AddressCountry.Spain" value="ESPANA"/>
    <!-- Report configuration -->
    <add key="ReportPath" value="c:\\temp\\"/>
    <add key="ReportFilePrefix" value="Informe_"/>
    <add key="ReportTitle" value="Informe de operaciones"/>
    <add key="ReportHeaderLogo" value="c:\\temp\\MugiparkHeader.jpg"/>
    <add key="ReportFooterText1" value="Z+M UTE (U-99292393) C/ JULIAN RIBERA Nº 18, LOCAL. 50010. ZARAGOZA."/>
    <add key="ReportFooterText2" value="AYUNTAMIENTO DE ZARAGOZA (P-5030300-G)"/>
    <!-- Email configuration -->
    <add key="SendAddress" value="noreply@opentraffic.net"/>
    <add key="EmailSubject" value="Informe de operaciones"/>
    <!--<add key="SMTPServer" value="pod51017.outlook.com"/>-->
    <add key="SMTPServer" value="smtp.office365.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="EmailUser" value="noreply@opentraffic.net"/>
    <add key="EmailPassword" value="Norep3249"/>
    <add key="Parameter.AppVersion" value="P_MOBILE_APP_VERSION"/>
    <add key="MobileOrdersTerminal.Web" value="2"/>
    <!-- Transaction configuration -->
    <add key="MerchantTerminal" value="1"/>
    <add key="MerchantCurrency" value="978"/>
    <add key="MerchantTranstactionType" value="0"/>
    <add key="MerchantProductDesc" value="Recarga {0} euros por app móvil Geoslab"/>
    <add key="MerchantUrl" value="http://ops.ods.org:58100/OPSPayMobileWeb/CheckResponse.aspx"/>
    <add key="MerchantUrlOk" value="https://example/URL_OK"/>
    <add key="MerchantUrlKo" value="https://example/URL_KO"/>
    <add key="MerchantTest" value="0"/>
    <add key="APP_URL" value="https://www.zmute-registro.com/opspaymobileweb/"/>
    <add key="Order.Origin" value="2"/>
    <add key="SignatureVersion" value="HMAC_SHA256_V1"/>
    <add key="GlobalizeCommaGPS" value="1"/>
    <add key="NumDaysOperations" value="300"/>
    <add key="XML_PARTNER_TAG_NAME" value="apparca"/>
    <add key="PARTNER_MACTRIPLEDES_KEY" value="1407162214"/>
    <add key="ServiceOperationStatus.Pending" value="0"/>
    <add key="ServiceOperationsStatus.Used" value="1"/>
    <add key="ServiceOperationsStatus.Cancelled" value="2"/>
    <add key="ReportFooterLogo" value="c:\\temp\\MugiparkHeader.jpg"/>
    <add key="EnableHash" value="false"/>
    <add key="RecoveryCodeExpTime" value="2"/>
    
	  <!-- GPS zone configuration Soria -->
    <add key="cont73.NumZones" value="1" />
    <add key="cont73.Zone1.Id" value="60001" />
    <add key="cont73.Zone1.GroupId" value="50001" />
    <add key="cont73.Zone1.Desc" value="Zona 1 Azul" />
    <add key="cont73.Zone1.NumAreas" value="1" />
    <add key="cont73.Zone1.Area1.NumPoints" value="4" />
    <add key="cont73.Zone1.Area1.P1" value="41,782879:-2,495897" />
    <add key="cont73.Zone1.Area1.P2" value="41,783015:-2,452382" />
    <add key="cont73.Zone1.Area1.P3" value="41,751011:-2,451350" />
    <add key="cont73.Zone1.Area1.P4" value="41,750513:-2,494683" />    
    
	  <!-- Place search configuration -->
	  <add key="Place.Radius" value="500"/>
	  <add key="Place.DateRange" value="30"/>
	  <add key="Place.ApiKey" value="AIzaSyChKp-fHTYs7noKgNZxVVgebSL1AsVZNyo"/>
	  <add key="cont62.LocalStretchSearchOnly" value="0"/>
	  <add key="cont73.LocalStretchSearchOnly" value="0"/>
	  <add key="cont10.LocalStretchSearchOnly" value="0"/>
	  <add key="cont5.LocalStretchSearchOnly" value="1"/>
	  <add key="cont6.LocalStretchSearchOnly" value="0"/>
	  <add key="cont3.LocalStretchSearchOnly" value="0"/>
  </appSettings>
  <Jot>
    <Token timeOut="1440" anonymousAlgorithmInHeader="true"/>
    <Encryption type="HS512" useGhostClaims="false" secret="etisnslkdjfifkdfd"/>
  </Jot>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <!--<identity impersonate="true" userName="clint.burnette" password="section31"/>-->
    <identity impersonate="true" userName="AlbertoV" password="skype001"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
      cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <log4net>
    <!-- Define some output appenders -->
	  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		  <!-- ** Ruta y Nombre del Archivo **************************************************** -->
		  <file value="c:\Inetpub\OPSWebServicesLog\Logs\OPSWebServices40" />
		  <!--Extension del Archivo-->
		  <datePattern value="'_'yyyy-MM-dd'.log'" />
		  <!-- ********************************************************************************* -->
		  <appendToFile value="true" />
		  <staticLogFileName value="false" />
		  <maximumFileSize value="2MB" />
		  <maxSizeRollBackups value="2" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <layout type="log4net.Layout.PatternLayout">
			  <!--<conversionPattern value="%date{HH:mm} %level %property{log4net:HostName} %username %logger %class - %message %newline"/>-->
			  <!-- Patron estardar para escribir el mensaje en los Logs -->
			  <conversionPattern value="%date{HH:mm:ss} %level %property{log4net:HostName} %identity %class -%message%newline" />
		  </layout>
		  <!--<filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>-->
	  </appender>
	  <!--AspNetTraceAppender escrice mensajes en el TraceContext si el seguimiento esta activado-->
	  <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		  </layout>
	  </appender>
	  <!--<appender name="TraceAppender" type="log4net.Appender.TraceAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>      
    </appender>-->
	  <root>
		  <appender-ref ref="RollingFileAppender" />
		  <appender-ref ref="AspNetTraceAppender" />
	  </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
    <settings>
        <!--<setting name="tns_admin" value="D:\app\client\clint.burnette\product\12.2.0\client_1\Network\Admin" />-->
      <setting name="tns_admin" value="E:\app\client\Administrador\product\12.2.0\client_odac\Network\Admin" />
    </settings>
    </version>
  </oracle.manageddataaccess.client>
</configuration>