<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TestMessagesBB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings>
	<add key="TestMessagesBB.MessagesBB.MessagesBB" value="http://localhost/OPSWebServices40/MessagesBB.asmx"/>
</appSettings>
    <applicationSettings>
        <TestMessagesBB.Properties.Settings>
            <setting name="TestMessagesBB_MessagesBB_MessagesBB" serializeAs="String">
                <value>http://localhost/OPSWebServices40/MessagesBB.asmx</value>
            </setting>
        </TestMessagesBB.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
