<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="LogSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  
  <LogSettings>
    <add key="LogPath" value="C:\"/>
    <add key="LogFile" value="fecs_bilbao.log"/>
  </LogSettings>

  <log4net>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogPath}%property{LogFile}" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>
  </log4net>

  <appSettings>
    <!-- Long name for service -->
    <add key="ServiceDisplayName" value="OPS Front End Communications Server Bilbao" />
    <!-- Short name for service -->
    <add key="ServiceName" value="OPSFecsBilbao" />
    <!-- Dependencies for the service limited by ; -->
    <add key="ServiceDependencies" value="OPSBecsBilbao" />
    <!-- Log directory and file name -->
    <add key="ServiceLog" value="c:\\{0}_fecs_bilbao.log" />
    <!-- Frame Type 1: No Crypt nor compress; 2: Crypt and compress depending on size-->
    <add key="FrameType" value="2" />
    <!-- Remote clients' listening port -->
    <add key="PortNumber" value="57101" />
    <!-- To BECS communications MSMQ queue -->
    <add key="OutputQueuePath" value="FormatName:DIRECT=OS:.\private$\fecsbecsbilbao" />
    <!-- From BECS communications MSMQ queue -->
    <add key="InputQueuePath" value="FormatName:DIRECT=OS:.\private$\becsfecsbilbao" />
    <!-- XML Schemas path. Where schemas reside -->
    <add key="XMLSchemasPath" value="c:\\inetpub\\wwwroot\\opsbilbao\\schemas\\" />
    <!-- Minimum logger severity level -->
    <!-- Possible values (from least to most Info): -->
    <!--  FatalError, Error, Warning, Info, Info, Debug -->
    <add key="LoggerSeverity" value="Debug" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>