<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	
		<!-- Long name for service -->
		<add key="ServiceDisplayName" value="OPS Back End Communications Server Bilbao"/>
		<!-- Short name for service -->
		<add key="ServiceName" value="OPSBecsBilbao"/>	
		<!-- Dependencies for the service limited by ; -->
		<add key="ServiceDependencies" value="OracleServiceORCL ; MSMQ "/>						
		<!-- Log directory and file name -->
		<add key="ServiceLog" value="c:\\{0}_becs_bilbao.log"/>					
		<!-- Frame Type 1: No Crypt nor compress; 2: Crypt and compress depending on size-->
		<add key="FrameType" value="2"/>				
		
		<!-- Periodic sending process period (ms) -->
		<add key="SendPeriod" value="60000"/>
		<!-- CS unit id -->
		<add key="UnitID" value="4"/>
		<!-- Connection string to database -->
		<add key="ConnectionString" value="Server=ORCL101_10G;User Id=OPSBILBAO;Pwd=OPSBILBAO;"/>
		<!-- DLL Paths needed for M1 libreries -->
		<add key="M1DLLPath" value="C:\Inetpub\OPSServices\Common\WIN32\opsbilbao"/>
		<!-- Database schema owner -->
		<add key="SchemaOwner" value="OPSBILBAO"/>
		<!-- To FECS communications MSMQ queue -->
		<add key="FecsOutputQueuePath" value="FormatName:DIRECT=OS:.\private$\becsfecsbilbao"/>
		<!-- From FECS communications MSMQ queue -->
		<add key="FecsInputQueuePath" value="FormatName:DIRECT=OS:.\private$\fecsbecsbilbao"/>
	    <!-- To CC communications MSMQ queue -->
		<add key="CcOutputQueuePath" value="FormatName:DIRECT=OS:.\private$\becsccbilbao"/>
		<!-- From CC communications MSMQ queue -->
		<add key="CcInputQueuePath" value="FormatName:DIRECT=OS:.\private$\ccbecsbilbao"/>
		<!-- "Path" al fichero de configuración de tablas y campos -->
		<add key="UserSchemaPath" value="C:\inetpub\wwwroot\opsbilbao\schemas\ops_tables.xml"/>
		<!-- OperationsDef que se usan en los mensajes -->		
		<add key="OperationsDef.Parking" value="1"/>
		<add key="OperationsDef.Extension" value="2"/>
		<add key="OperationsDef.Refund" value="3"/>
		<add key="OperationsDef.Payment" value="4"/>
		<!-- BEGIN M01 configuration elements (some of them are used in M50 too) -->
			<!-- Codigos de LISTS.BLIS_CATEGORY -->
			<add key="BLIS_DBLIS_ID.Vehicle" value="1"/>							<!-- Used in M50 too -->
			<add key="BLIS_DBLIS_ID.User" value="2"/>							<!-- Used in M50 too -->
			<!-- Codigos devueltos por M01 -->
			<add key="M01.ErrorCodes.SinLimite" value="4"/>
			<add key="M01.ErrorCodes.VIP" value="3"/>
			<add key="M01.ErrorCodes.DateAmp" value="2"/>
			<add key="M01.ErrorCodes.NoError" value="1"/>
			<add key="M01.ErrorCodes.NoValida" value="-1"/>
			<add key="M01.ErrorCodes.NoValidaPorArticulo" value="-2"/>
			<add key="M01.ErrorCodes.BlackVeh" value="-3"/>					<!-- Used in M50 too -->
			<add key="M01.ErrorCodes.BlackUsu" value="-4"/>					<!-- Used in M50 too -->
			<add key="M01.ErrorCodes.FueraServicio" value="-5"/>
			<add key="M01.ErrorCodes.FueraVentas" value="-6"/>
			<add key="M01.ErrorCodes.TiempoPermanenciaSuperado" value="-7"/>
			<add key="M01.ErrorCodes.TiempoReentradaNoSuperado" value="-8"/>
			<add key="M01.ErrorCodes.ArtKO" value="-9"/>
			<add key="M01.ErrorCodes.ArtOld" value="-10"/>
			<!-- ArticleType utilizado por defecto -->
			<add key="ArticleType.Default" value="1001"/> <!-- Por defecto ROTACION -->	<!-- Used in M50 too -->
			<add key="ArticleType.Rotacion" value="1001"/> <!-- ROTACION: Unico caso en que Article == null y se puede procesar -->
			<add key="ArticleType.Vip" value="5"/>								<!-- Used in M50 too -->
			<!-- Codigos de las restricciones -->
			<add key="ConstraintsDef.MaxEstancia" value="1"/>					<!-- Used in M50 too -->
			<add key="ConstraintsDef.MinReentrada" value="2"/>					<!-- Used in M50 too -->
			<add key="ConstraintsDef.TiempoCortesia" value="3"/>					<!-- Used in M50 too -->
			<add key="ConstraintsDef.MaxImport" value="4"/>						<!-- Used in M50 too -->
			<add key="ConstraintsDef.MinImport" value="5"/>						<!-- Used in M50 too -->
			<!-- Codigos de la tabla STATUS -->
			<add key="Status.OK" value="0"/>									<!-- Used in M50 too -->
			<add key="Status.OUT_OF_SERVICE" value="1"/>						<!-- Used in M50 too -->
			<add key="Status.OUT_OF_SALES" value="2"/>							<!-- Used in M50 too -->
		<!-- END M01 configuration elements (some of them are used in M50 too) -->
		<!-- BEGIN M04 configuration elements -->
			<add key="FinesDefCodes.Fine" value="1"/>
			<add key="FinesDefCodes.Cancellation" value="2"/>
			<add key="FinesDefCodes.Annulment" value="3"/>
			<add key="FinesDefCodes.Payment" value="4"/>
			<add key="FinesDef.Payment" value="99"/>
		<!-- END M04 configuration elements -->
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
